@layer flotable {
.flotable-link {
  color: var(--_flotable-link-color);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.flotable-link:hover {
  color: var(--flotable-link-hover-color, #1d4ed8);
}
}
